
.recipe-preview {
    padding: 10px 60px;
    margin: 20px 0;
    border-bottom: 1px solid lightgrey;
    text-align: center;


}

/* effect with hover */ 
.recipe-preview:hover {
    box-shadow: 1.3px 3.2px 5.2x rgba(0, 0, 0, 0.2);
    color: black;
    background-color: #F8F8F8;
    border: none;
    color: black;
    padding: 16px 32px;
    font-style: oblique;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    transition: 0.3s;
}



.recipe-preview > h6 {
    color: maroon; 
    font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.recipe-preview > a {
    color: darkblue;
    font-size: 40px;  
}

.recipe-title
{
    color: darkblue;
    font-size: 40px;
    
     
}



.title {
    font-family: 'Dancing Script', cursive; 
    font-size: 30px;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 1px;
    background-color:white;
    color: black;

}
.recipe-preview > a > img {
    border-radius: 8px;
    max-width: 300px;
    height: auto;
    color: #999999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
#better-text {
    font-family: fantasy;
    font-size: 20px;

  }




